#header {
    color: black;
    font-family: 'Raleway';
    text-align: center;
}

#bar {
    background-color: black;
    color: white;
    opacity: 0.75;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
}

#about_me, #projects, #contact {
    text-align: center;
}
