h2 {
    text-align: center;
    font-family: 'Raleway';
    margin-bottom: 0px;
}

.background {
    width: 100%;
    height: 100%;
    position: static;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.header {
    color: white;
    font-family: 'Raleway';
    float: left;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bar {
    display: inline-block;
    background-color: black;
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: right;
    padding-left: 10px;
    font-size: 25px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.bar span:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.about_me {
    margin-top: 30%;
}

.contact_imgs:hover {
  opacity: 50%;
}


h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}

table, th, td {
    margin: auto;
    padding: 25px;
    text-align: center;
}

.about_me, .projects, .contact {
    text-align: center;
}

