#about_me, #projects, #contact {
    text-align: center;
}

#background {
    width: 100%;
    position: static;
    display: none;
}

#header {
    color: black;
    font-family: 'Raleway';
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

#bar {
    background-color: black;
    color: white;
    opacity: 0.75;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: left;
    padding-left: 10px;
    font-size: 5vw;
    width: 100%;
    position: absolute;
    top: 67px;
}

#bar span:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-bottom: 1px;
}
